* {
	margin: 0;
	padding: 0;
}
.container, .text {
	margin: 30px 40px;
	font-size: 22px;
	text-align: center;
}
.container .h2 {
	text-align: center;
	font-size: 38px;
	text-decoration: underline;
	color: #ff523b;
}
.container .row {
	margin-top: 30px;
	overflow: hidden;
}
.container .row .map {
	width: 49%;
	height: 400px;
	float: left;
	border: 2px solid black;
	border-radius: 2%;
}
.container .row .video {
	width: 49%;
	height: 400px;
	float: right;
	border: 2px solid black;
	border-radius: 2%;
}
.text .span {
	font-size: 32px;
	color: #ff523b;
}